.App {
  text-align: center;
  margin-top:150px;
}

.btn{
  color: aliceblue;
  background-color: black;
  border: 1px dashed grey;
  width: 100px;
  height: 40px;
  border-radius:5px;
  margin: 5px;
}